@font-face {
    font-family: 'Hanken';
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
:root {
    /* Cores primárias */
    --LightRed: hsl(0, 100%, 67%);
    --OrangeYellow: hsl(39, 100%, 56%);
    --GreenTeal: hsl(166, 100%, 37%);
    --CobaltBlue: hsl(234, 85%, 45%);
    /* Cores dos degradês */
    --LightSlateBlue: hsl(252, 100%, 67%);
    --LightRoyalBlue: hsl(241, 81%, 54%);
    --VioletBlue: hsla(256, 72%, 46%, 1);
    --PersianBlue: hsla(241, 72%, 46%, 0);
    /* Cores neutras */
    --White: hsl(0, 0%, 100%);
    --PaleBlue: hsl(221, 100%, 96%);
    --LightLavender: hsl(241, 100%, 89%);
    --DarkGrayBlue: hsl(224, 30%, 27%);
    /* Cores de fundo*/
    --RedBackground: hsl(0, 100%, 95%);
    --YellowBackground: hsl(39, 100%, 95%);
    --GreenBackground: hsl(166, 100%, 95%);
    --BlueBackground: hsl(234, 85%, 95%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Hanken', sans-serif;
    font-size: 1.1rem; /* Tamanho da fonte base usando rem */
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--PersianBlue);
}
#card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-basis: 650px;
    border-radius: 25px;
    box-shadow: 1px 1px 8px var(--LightLavender);
}
#p1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 50%;
    gap: 1rem;
    padding: 3rem;
    border-radius: 25px;
    background: linear-gradient(to bottom, var(--LightSlateBlue), var(--LightRoyalBlue));
}
#result {
    color: var(--LightLavender);
    font-size: 1.3rem;
    font-weight: 600;
}
#notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
    padding: 2rem 3rem;
    background: linear-gradient(to top, var(--PersianBlue), var(--VioletBlue));
    border-radius: 50%;
}
#n76 {
    color: var(--White);
    font-weight: bold;
    font-size: 3rem;
}
#n100 {
    font-size: 0.8rem;
    color: var(--LightLavender);
}
#tittle {
    font-weight: bold;
    color: var(--White);
    font-size: 1.6rem;
}
#descript {
    font-weight: 300;
    color: var(--PaleBlue);
}
#p2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 2rem;
}
#tittleP2 {
    color: var(--DarkGrayBlue);
    font-size: 1.6rem;
}
#categorias {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.caixas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 2rem;
    border-radius: 10px;
}
.icons {
    display: flex;
    gap: 0.5rem;
}
.score {
    display: flex;
    gap: 0.5rem;
}
.realScore {
    color: var(--DarkGrayBlue);
    font-weight: bold;
}
.totalScore {
    color: var(--LightLavender);
    font-weight: 400;
}
#reaction {
    background-color: rgba(255, 0, 0, 0.120);
}
#reactionTxt {
    color: var(--LightRed);
    font-weight: bold;
}
#memory {
    background-color: var(--YellowBackground);
}
#memoryTxt {
    color: var(--OrangeYellow);
    font-weight: bold;
}
#verbal {
    background-color: var(--GreenBackground);
}
#verbalTxt {
    color: var(--GreenTeal);
    font-weight: bold;
}
#visual {
    background-color: var(--BlueBackground);
}
#visualTxt {
    color: var(--CobaltBlue);
    font-weight: bold;
}
#submit {
    padding: 1rem 2rem;
    background-color: var(--DarkGrayBlue);
    border: none;
    color: var(--White);
    font-weight: 400;
    border-radius: 25px;
    cursor: pointer;
}
#submit:hover {
    background: linear-gradient(to left, var(--LightRoyalBlue), var(--VioletBlue));;
    color: var(--White);
    transition: 0.7s;
}


@media screen and (max-width: 662px) {
   body {
    background-color: var(--White);
    align-items: flex-start;
   }
   #card {
    border-radius: 0;
    flex-direction: column;
    box-shadow: none;
   }
   #p1 {
    width: 100%;
    border-radius: 0 0 2rem 2rem;
   }
   #p2 {
    width: 100%;
   }
}
